
body {
  /* background: rgb(0,0,0);
  background:linear-gradient(9deg, rgba(2,0,36,1) 0%, rgba(12,42,133,1) 100%);
   */
  background: #EEEEEE;
  margin: 0;
  padding: 0;
  height: 100%;
}


.button {
  background: #0c2a85;
  color: white;
  transition: background 0.3s ease; 
}
.button:hover {
  background: white;
  color: #0c2a85;
  cursor: pointer;
}